/* Fixed header */
#header_outer, #header {
	background-color: #000;
}

/* Search button -- this should be a shade or two darker than the header */
#search_site_bubble {
	background-color: #696969;
}

/* Search button hover effect -- should be _even_ darker than the one above */
#search_site_bubble:hover, #search_site_footer:hover, .search_button:hover {
	background-color: #2F4F4F;
}

/* The actual area where the user types the keyword(s) they want to search for; should be lighter than #header */
#searchInput {
	background-color: #778899;
	color: #FFF;
}

/* The border of the four menus in the #header when one of the menus is open */
.menu, .menu_login, .menu_messages,
div#header ul#actions li:hover {
	border-color: #808080;
}

.menu, .menu_login, .menu_messages {
	background-color: #000;
}

/* ...and when they're not open */
div#header ul#actions li {
	border-color: #808080 !important;
}

/* And of course you always gotta have at least one special case! */
div#header ul#actions {
	border-right-color: #808080;
}

/* "You have X new talk page message(s)" menu */
#actions .menu_messages a {
	color: #FFF;
}

/* Four menus' default text color */
#header #actions li .nav,
.menu a {
	color: #FFF;
}

/* Black images on black background is bad, mmmkay?
 * Yes, I know this essentially kills the "hover" effect that non-dark themes
 * have, but this is still the least of all evils for the time being.
 */
#nav_help_li .nav_icon {
	background-position: -45px -62px;
}
#nav_explore_li .nav_icon {
	background-position: -45px -99px;
}
#nav_profile_li .nav_icon {
	background-position: -45px -131px;
}
#nav_messages_li .nav_icon {
	background-position: 0px -19px;
}

/* Keep the background color in sync with #header */
div#footer_outer, #footer {
	background-color: #000;
	color: #FFF;
}

#footer a {
	color: #FFE4E1;
}