/*quizzes*/
.quiz_cta {
    min-height: 190px;
    padding: 0 30px;
}

.qcta_img_box {
    float: left;
    width: 250px;
    height: 190px;
    margin: 0 2.5em 1em 1em;
    position: relative;
}

.qcta_img_box a {
    width: 250px;
    height: 190px;
    background-position: center top;
    display: block;
}

.qcta_img_label {
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    background-color: #435F2C;
    text-align: center;
    width: 250px;
    height: 49px;
    line-height: 49px;
    margin-top: -49px;
    opacity: .9;
    filter: alpha(opacity=90);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.qcta_title  {
    margin: -5px 0 10px 0;
    font-size: 3em;
    font-weight: bold;
}
.qcta_title  a { color: #01769f; }

.quiz_cta_button {
    color: #FFF;
    background-color: #01769F;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: right;
}
.quiz_cta_button:hover { text-decoration: none; }

.quiz_cta_2 { text-align: center; }

.quiz_cta_2 img {
    border: 1px solid #BBB;
    padding: 5px;
    margin: 8px 0 10px 0;
}

/**** LEADERBOARD STYLES FOR SIDEBAR ***/

.iia_stats {
    /*text-align:center;*/
    padding:5px 3px 13px 3px;
}

.iia_stats table{
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    padding: 2px;
    color: #555;
    width:100%;
}

.iia_stats td{
    border-bottom: 1px dotted #A59983;
    border-collapse: collapse;
    padding: 5px 0;

}

.stats_count{
    text-align:right;
}

.iia_stats .leader_name{
    padding-left:5px;
}

/*** HISTORY/DIFF STYLES ***/
#bodycontents.bc_history { font-size: .8em; }
.history_table tr { background-color: #FFF; }
#pagehistory li:nth-child(odd), .recentchanges_list li.mw-line-odd { background-color: #f6f5f4; }

.mw-history-histlinks {
    font-size:13px;
    width:10%;
    padding-right: 8px;
    white-space: nowrap;
}

#pagehistory input {
    width:4%;
    padding-top: 6px;
    padding-right: 2px;
}

.mw-changeslist-separator{
    display: none;
}

.mw-history-legend pre {
	font-family: Helvetica,arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}

.history_user{
    padding:3px 0 5px;
    overflow: hidden;
    max-width: 545px;
}

#article #pagehistory{
    /*font-size:14px;
    padding:0;*/
    padding: 15px;
    margin: 15px 0;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	list-style: none;
}

#pagehistory li {
	padding:5px 0;
	line-height: 20px;
}

#hist_legend{
    font-size:13px;
}

.navigation{ margin: 1em 0; }

/*** THUMBS STYLES ***/

.thumbbutton{
    background: url(/extensions/wikihow/thumbsup/thumbs.png) no-repeat 13px 10px #FFFFFF;
    width: 43px;
    height: 42px;
    float: right;
}

.thumbbutton:hover {
    background-position: 13px -24px;
	-webkit-transition: 0s; -moz-transition: 0s; -ms-transition: 0s; -o-transition: 0s; transition: 0s;
}

.thumbbutton.clicked, .thumbbutton.clicked:hover {
    background-position: 13px -52px;
    border: 1px solid #e5e5e5;
}

.thumbbutton:active{
    background-position: 0 -93px;
}

.alreadyThumbed, .alreadyThumbed:hover {
    background-position: 13px -52px;
}

.disabledThumb {
    background: none;
    border: none;
}

#thumbUp{
    display:none;
}

.button_arrow{
    background: url(/skins/owl/images/button_arrow.png) no-repeat 11px 11px;
    width:35px;
    height:32px;
    display:block;
    float:left;
    padding:3px;
}

.button_arrow:hover{
    background-position:11px -20px;
    -webkit-transition: 0s; -moz-transition: 0s; -ms-transition: 0s; -o-transition: 0s; transition: 0s;
}

/*** EDIT PAGE STYLES ***/
#wpTextbox1 {
    padding: .5em;
    width: 97%;
    font-size: 1em;
    height: auto;
}

.mw-toolbar-editbutton {
    background: url(/skins/owl/images/edit_adv_sprite.png) no-repeat 0 0;
    width: 34px;
    height: 29px;
    float: left;
    margin-right: 1px;
    cursor: pointer;
}
#mw-editbutton-bold:hover { background-position: -40px 0; }
#mw-editbutton-italic { background-position: 0 -35px; }
#mw-editbutton-italic:hover { background-position: -40px -35px; }
#mw-editbutton-link { background-position: 0 -69px; }
#mw-editbutton-link:hover { background-position: -40px -69px; }
#mw-editbutton-extlink { background-position: 0 -103px; }
#mw-editbutton-extlink:hover { background-position: -40px -103px; }
#mw-editbutton-headline { background-position: 0 -137px; }
#mw-editbutton-headline:hover { background-position: -40px -137px; }
#mw-editbutton-image { background-position: 0 -171px; }
#mw-editbutton-image:hover { background-position: -40px -171px; }
#mw-editbutton-media { background-position: 0 -205px; }
#mw-editbutton-media:hover { background-position: -40px -205px; }
#mw-editbutton-math { background-position: 0 -239px; }
#mw-editbutton-math:hover { background-position: -40px -239px; }
#mw-editbutton-nowiki { background-position: 0 -273px; }
#mw-editbutton-nowiki:hover { background-position: -40px -273px; }
#mw-editbutton-signature { background-position: 0 -307px; }
#mw-editbutton-signature:hover { background-position: -40px -307px; }
#mw-editbutton-hr { background-position: 0 -341px; }
#mw-editbutton-hr:hover { background-position: -40px -341px; }
.mw-toolbar-editbutton#weave_button { background-position: 0 -375px; }
.mw-toolbar-editbutton#weave_button:hover { background-position: -40px -375px; }
#easyimageupload_button { background-position: 0 -409px; }
#easyimageupload_button:hover  { background-position: -40px -409px; }

#edit_page_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ecebe8;
    z-index: 2;
}

.editCheckboxes { margin: 0 !important; }

.editButtons { padding: 1em 0;}

.editButtons .button  {
    width: 19%;
}
#mw-editform-cancel {
    padding-right: 3.5%;
    padding-left: 3.5%;
}
.editButtons input{ margin:0 10px 0 0; }
.editpage_links {
    margin: 1.2em 0 0 0;
    font-size: .8em;
}
.editpage_links  a { margin-right: 2em; }
#wpMinoredit{ margin-top:4px; }
.editHelp{
    display:block;
    padding-top:9px;
    margin-left:5px;
}

.editHelp img{
    vertical-align:middle;
    margin-right:5px;
}

.article_inner #editpage-copywarn { margin-left:0; }
#editpage-copywarn { margin-top: 1em; }
#toolbar img{ margin-right:1px; margin-bottom:2px;}

#editform {
    clear: both;
    padding-top: .5em;
}
#editform .minor_section { padding: 22px 18px; }

.templatesUsed p, #wpSummaryLabel {
    color: #222;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .3em;
	display: block;
}
.templatesUsed li {
    list-style: none;
    padding-left: .4em;
    font-size: .8em;
}

#wpSummary {
    width: 99%;
    border: 1px solid #f2f0eb;
    margin: 1em 0;
    padding: .5em;
}

.cancelLink { margin: 0 !important; }

.editOptions { font-size: .8em; }
#wpWatchthis { margin-left: 10px; }

#related_select  { margin-bottom: 0; }

#mw-recreate-deleted-warn {
    font-size: .8em;

}
#mw-recreate-deleted-warn li {
    margin-left: 1em;
    padding-bottom: .5em;
}
#mw-recreate-deleted-warn p { padding-bottom: .5em; }

.previewnote { padding-bottom: 1em; }
.previewnote hr {display: none;}

/*** CATEGORY PAGES ***/
.category_Table { width: 100%; border: 0; }
.category_Table tr { vertical-align:top; }
.category_Table td { height: 55px; }

.category_Table A {
    font-size: 14px;
    color: #504239;
    font-weight: bold;
}

.category_Table DIV {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    width: 287px;
    height: 100%;
    text-align: left;
    padding-left:20px;
    padding-top: 10px;
}

.category_Table DIV#left {
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color: #CCCCCC;
}

.category_Table IMG {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

/***** PREFERENCES PAGE *****/
#prefsubmit {
    margin-bottom: 10px;
}

ul#preftoc {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}
ul#preftoc li {
	float: left;
	list-style: none !important;
	padding: 0px;
	margin: 0px;
	padding-right: 15px;
	line-height: 42px;
}

ul#preftoc li a {
	font-size: 13px;
	font-weight: 500;
}

#preftoc li.selected a {
	color: #454545;
	font-weight: bold;
}

/***** IMAGE PAGE *****/
.fullImageLink { margin-top: -32px; }
/*.fullImageLink img { width: 100%; } BEBETH REMOVED for image pages 10/4 */

.im-images table { margin-right: -1em; }
.im-images td { padding-right: 1em; }
.im-images td img{ width: 100%; }

.other_articles { padding-right: 10px; }
.other_articles .thumbnail { margin-right: 16px; }

.filehistory.history_table {
    width:100%;
    border-collapse:collapse;
    margin-top: 1em;
    font-size: .8em;
}

.filehistory.history_table td {
	padding: 5px;
}

.image_siderelated td { padding: 0 5px 5px 0; }

/**** Recentchanges ****/
.rcoptions, .watchlistoptions {
    font-size: .8em;
    padding: .5em 0;
    line-height: 1.5em;
	border:none;
}

#recentchanges { margin-top: 1.5em; }

.recentchanges_list {
    margin: 1em 0 2em 0 !important;
    padding: 1em;
    list-style: none;
    font-size: .8em;
}

.recentchanges_list li {
    margin: 0 !important;
    padding: .5em;
}

.namespacesettings{ margin:5px 0; }

/*** DISCUSSION/TALK STYLES ***/
.postcommentForm_textarea {
    background: #FFF no-repeat 12px 12px;
    height: 100px;
    width: 87%;
    padding: 2% 2% 2% 11%;
    background-size: 40px;
    border: 1px solid #f2f0eb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	*width: 83%;		/*IE7*/
	*padding-left: 15%;	/*hack*/
}
/*IE8 hack*/
@media \0screen { .postcommentForm_textarea {
	width: 83%;
	padding-left: 15%;
}}

.postcommentForm_buttons {
    margin: .5em 0;
    float: right;
}
.postcommentForm_buttons .button { margin: 0 0 0 10px; }

.postcommentForm_details {
    font-size: .8em;
    line-height: 4em;
}

.postcomment_preview .preview_header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 3px;
}

.de, .discussion_entry, #discussion_entry {
    padding: 15px 15px 15px 65px;
    margin: 15px 0;
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.de_comment, .discussion_entry_comment {
    margin: .4em 0;
    font-size: .9em;
}

.de_comment p {
    margin-bottom: 10px;
}

.de_comment ul, .discussion_entry_comment ul {
    padding-left:15px;
}

.de_date, .discussion_entry_date {
    float: right;
    font-size: .8em;
    color: #ABABAB;
    font-style: italic;
    margin-bottom: .2em;
}

.de_user img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 40px;
}

.de_user, .discussion_entry_user {
    font-weight: bold;
}

.de_reply {
    text-align: center;
    font-size: .8em;
}

.archive_table {
    padding: 20px !important;
    border: 1px solid #f2f0eb !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#completionFrame { display:none; }

/** LOG PAGES **/

.log_page { font-size: .9em; }

/** Special:EmailUser **/
#mw-input-wpText {
	width: 94%;
}

/** Special: Contributions **/
.mw-contributions-form table {
	width: 100%;
}

/** Special:Videoadder **/
#va_instructions ol {
	margin: 10px 0 0 20px;
}

/** Special:Undelete **/
.mw-undelete-pagetitle {
	margin-bottom: 10px;
}

/** getting rid of fieldsets on random pages **/
#movepage fieldset, #deleteconfirm fieldset {
	border: none;
}

#movepage legend, #deleteconfirm legend {
	display: none;
}

/** USER PAGES **/
#toc {
	/*display: none;*/ /* Don't want to blanket hide anymore. Showing on User pages now */
	width:100%;
}

#toctitle h2 {
	padding-left: 27px;
	width: 80%;
}

.toctoggle {
	position: absolute;
	top: 21px;
	z-index: 4;
	right: 27px;
}

.mw-changeslist-line-watched .mw-title {font-weight: bold;}

/** Login/Signup pages **/
.exclamation {
	display: none;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAgCAYAAADqgqNBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODVCOUU4MkFGNjc1MTFERkJCMzRGNjBEQzI0M0JCQTgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODVCOUU4MkJGNjc1MTFERkJCMzRGNjBEQzI0M0JCQTgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4NUI5RTgyOEY2NzUxMURGQkIzNEY2MERDMjQzQkJBOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4NUI5RTgyOUY2NzUxMURGQkIzNEY2MERDMjQzQkJBOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnlaqQMAAAKpSURBVEjH7ZdbiE5RFMe3XMp1yjAuKROmUDRIY4xMMiGUKGWaGo1bmVzyxBBvXhDzgCdyCVMoXhR58jBTJsybEQ/z4hLKbdxyOcd/ff4na3bn23sf38QDD7+H7+z/Wf991t577fWZOI7N38L84+bGhDIITAFLQC2oAyvALDDc9W6kyGo+FxwAt8ErEOVe/cV78ACcAavB0N4wnwbOgQ+WmY82sLIQ83rw1Ap6BxwBa5j6xTRpAjetSX4FzaAoi3kfsBd8UYGugmqOuTJVBvZzGZJ3r4HRec17DBizzVrLhgwbMqEcdKg4V7hZf46nmeNnJXijjBc6DIpBiWN8BGhXE9idas6HA5iiRFznCDwDPAYvwAKHbhx4wngvwdR85jXcJPL4tCet+9Qkmz3a5Up7MJ/5cQo+gomegOtUwKaAPdBKbWeuGFnmg8E9Cm4FBKtR5rUB+kZq5QTNt83LuCYxU+oLJiX2O/XlAfrZarIbbPM54BMHNwUEGwiesagUB+gnqcnutM2rwGcObgw8y12gGwwJ0E4A3xh/j20uNfwtB3cEmkvNvx5Q9YTpKu1bbXNJ3SMOXgwINgqcB5dAaYB+FWNHuaNnmcvsL1PwHAzzBNulvuRQgHkLtXJRjU8752tVwO2eYMvUBqoPWO9ualtyH5piLrX4PkWy/pM9QWeCCo9GMnpDnfFFseNKbVBf38EJmQI4rOJdAH1jx5XaH4/Oqhfambaspv1Y85M4D3uUbEczMZJHKFabZD0LS4hxFUt08r7cftVZ2ig5eietFqqTXUolr8oinooS1olGtlKR1XZV/E4PJ6nbzEpmN4jveJfLsXytdr7ugI6CMYW2zqXs6e6q+p9GxImeAPN6s2837MWlf9/CXXyKffoxFp2lYGz2Pw3//yj+YX4ApZrAHCiQGVAAAAAASUVORK5CYII=");
	width: 31px;
	height: 23px;
	float: right;
	margin: 12px -31px 0 0;
}
