body {
	background-color:#FFF;
	font-size: 1.2em;
}

#header_outer { 
	background: none; 
	position: relative;
}
#header { 
	text-align: center; 
	height: 63px !important;
	width: 242px !important;
	background: url(/skins/owl/images/logo_lightbg_242.jpg) no-repeat center center;
	margin-top: 15px;
}

#article_shell {
	margin: 0 auto;
	float: none;
	padding-bottom: 2em;
}

.sticking { 
	position: absolute !important; 
	top: 0 !important;
}

#actions,
#notification_count,
#bubble_search,
#cse-search-box,
#header_space,
#sidebar,
#logo_link,
#breadcrumb,
#originators,
#article_tabs,
#sliderbox,
#article_rating,
#end_options,
#footer_outer,
.section.relatedwikihows,
.section.video,
.edit,
.editsection,
.mwimg,
.whvid_cont,
.altadder_section
{ display: none !important; }